%h2.text-center.mb-4 ログイン

.container
  .card
    .cart-body.p-4
      = simple_form_for(resource, as: resource_name, url: user_session_path) do |f|
        = render 'admins/shared/error_messages', resource: resource
        = f.input :email
        = f.input :password
        .mt-2.text-center
          = f.button :submit, "ログイン", class: 'btn btn-primary'
.text-center.mt-4
  = render "users/shared/links"
