.container
  .card
    .card-body
      = simple_form_for [:admins, product] do |f|
        = render 'admins/shared/error_messages', resource: product
        = f.input :name
        = f.input :price
        = f.input :description
        = f.input :image
        = f.input :position
        .mt-2.text-center
          = f.submit text, class: "btn btn-primary mt-2"
