%h2.text-center.mb-4 商品一覧(管理画面)
.container
  = link_to '商品登録画面', new_admins_product_path, class: 'btn btn-primary mb-4'
  .row
    - @products.each do |product|
      .col-md-4.mb-3
        .card
          .card-body
            .d-flex.align-items-start
              .me-3
                = render 'shared/product_image', product: product, size: '120x80', variant: :small
              .flex-grow-1
                .d-flex.justify-content-between.align-items-start
                  .me-2
                    %h5.card-title= link_to product.name, '#' # TODO: 詳細画面作成時にリンクを追加
                    %p.card-text
                      価格: #{number_to_currency(product.price)}
                  = link_to '編集', edit_admins_product_path(product.id), class: 'btn btn-outline-primary btn-sm'

  .d-flex.justify-content-center
    = paginate @products, theme: 'bootstrap-5'
