%h2.text-center.mb-4 新規登録

.container
  .card
    .cart-body.p-4
      = simple_form_for(resource, as: resource_name, url: user_registration_path) do |f|
        = render 'admins/shared/error_messages', resource: resource
        = f.input :name
        = f.input :email
        = f.input :password
        = f.input :password_confirmation
        .mt-2.text-center
          = f.button :submit, "新規登録", class: 'btn btn-primary'
.text-center.mt-4
  = render "users/shared/links"
